#Season colouring
public-f net.minecraft.world.biome.BiomeColorHelper field_180291_a #GRASS_COLOR
public-f net.minecraft.world.biome.BiomeColorHelper field_180289_b #FOLIAGE_COLOR
public net.minecraft.world.biome.BiomeColorHelper$ColorResolver

#Seasonal melting
public net.minecraft.world.World field_73005_l #updateLCG
public net.minecraft.block.BlockIce func_185679_b(Lnet/minecraft/world/World;Lnet/minecraft/util/math/BlockPos;)V

#Seasonal freezing
public net.minecraft.world.World func_175696_F(Lnet/minecraft/util/math/BlockPos;)Z #isWater

#field access
public net.minecraft.client.gui.inventory.GuiContainer field_146999_f #xSize
public net.minecraft.client.gui.inventory.GuiContainer field_147000_g #ySize
public net.minecraft.client.gui.inventory.GuiContainer field_147003_i #guiLeft
public net.minecraft.client.gui.inventory.GuiContainer field_147009_r #guiTop

#text fields
public net.minecraft.client.gui.GuiTextField field_146226_p # isEnabled

#rendering
public net.minecraft.client.renderer.RenderItem func_175035_a(Lnet/minecraft/client/renderer/block/model/IBakedModel;I)V # renderModel
public net.minecraft.client.renderer.RenderItem func_175036_a(Lnet/minecraft/client/renderer/block/model/IBakedModel;Lnet/minecraft/item/ItemStack;)V # renderModel


